@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.blogcontainer {
    width: 90vw;
    margin: 0 auto;
}

li {
    display: inline;
}

.syntax {
    background-color: rgba(172, 171, 171, 0.658);
    color: white;
    padding: 3vh 1vw;
}

.navigation {
    padding: 7vh 5vw;
}

ul {
    list-style: none;
}

hr {
    margin-top: 5vh;
}

.selector {
    display: block;
    color: rgb(49, 67, 81);
    margin-top: 5px;
}


.links {
    padding: 10px 15px;
    border: 1px solid black;
    font-size: .6rem;
    border-radius: 10px;
    margin-right: 10px;
}



.links a {
    text-decoration: none;
    color: black;
}

.headerimage {
    width: 90vw;
    margin: 5vh auto 8vh auto;
}

.headerimg {
    width: 90vw;
}

.resourceimage {
    width: 90vw;
    margin: 5vh auto 5vh auto;
}

.resourceimg {
    width: 90vw;
}

h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
   font-weight: 900;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    margin: 5vh 0 2vh 0; 
}

span {
    color: gray;
    opacity: .7;
   display: block;
   margin-top: 20px;
}

.body-of-blog {
    margin-top: 11vh;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: rgb(49, 67, 81);
}

.intro1  {
    font-size: 1.4rem;
    line-height: 1.5;
}

.intro2, .intro3 {
    margin-top: 5vh;
}

.colorresources, .stockimagesresources, .illustrationsresources, .iconresources, .outro {
    margin-top: 15vh;
}

.colorpara, .iconpara, .illustrationpara, .stockimagepara {
    margin-top: 2vh;
}

footer {
    background-color: cadetblue;
    margin-top: 30vh;
    padding: 10vh 10vw;
    text-align: center;
}

.socialhandles {
    margin-left: 5px;
}

.socialhandles a{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 700px) {
    .blogcontainer {
        width: 50vw;
        margin: 0 20vw;
    }

    .headerimage {
        width: 50vw;
        margin: 10vh 0 15vh 12vw;
    }

    .headerimg {
        width: 70vw;
        object-fit: cover;
    }

    .resourceimage {
        width: 50vw;
        margin: 5vh auto 8vh auto;
    }

    .resourceimg {
        width: 50vw;
        object-fit: cover;
    }

    p {
        font-size: 1.2rem;
    }

    .intro1  {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .links {
        padding: 10px 15px;
        border: 1px solid black;
        font-size: 1rem;
        border-radius: 10px;
        margin-right: 20px;
        transition: background-color 1s, color .3s .3s;
        cursor: pointer;
    }

    .links:hover{
        background-color: teal;
        color: #fff;
    }

}