@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --bg-color: #eae7d7;
    --text-color: black;
    --secondory-txt-clr: #8e8d8a;
    --border-clr: #d8c3a5;
    --other-clr1: #e98074;
    --other-clr2: #e85a4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.navigationlinks {
    width: 100%;
    background-color: var(--primary-color);
    padding: 3vh 2.5vw;
    color: var(--color);
    font-family: 'Anton', sans-serif;
    margin-top: 2vh;
    z-index: 10;
}

.mytagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    letter-spacing: .5px;
    text-transform: uppercase;

}

.list {
    list-style: none;
    text-align: right;
    margin-right: 2vw;
}

.list li {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: .7rem;
    margin-left: 1.5vw;
    border: 1px solid var(--border-clr);
    padding: 10px 20px;
}

.list a {
    transition: color .3s ease-in-out;
}

.list a:hover {  
  color: var(--pseudo-color);
}



header .imagecontainer {
    position: relative;
    margin-right: 2vw;
}

strong {
    color: var(--other-clr2);
}



/* 
.themeimage {
    width: 100%;
    height: 90%;
    margin: 10vh auto 0 auto;
    position: absolute;
    bottom: 0vh;
    left: 55vw;
} */


.aboutme {
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.3;
    margin-left: 10vw;
    margin-top: 35vh;
}


.one,
.two,
.three
 {
    margin-top: 10vh;
    margin-left: 10vw;
}

.sectiontitle {
    font-family: 'Anton', sans-serif;
    margin-bottom: 2vh;
    letter-spacing: .5px;
    color: var(--primary-color);
}


.browseproject,
.browseblog {
    margin-top: 2vh;
    padding: 5px 8px;
    background-color: var(--color);
    border: 1.5px solid var(--primary-color);
    transition: background-color .5s ease-in-out;
    border-radius: 5px;
}

.browseproject:hover,
.browseblog:hover {
    background-color: var(--pseudo-color);
}

.connect {
    width: 100%;
    margin-top: 15vh;
    background-color: var(--primary-color);
    color: var(--color);
    padding: 3vh 0;
}


.footerlink .link img {
    width: 8vw;
    height: 7vw;
    margin-right: 4vw;
    cursor: pointer;
}

.footerlink {
    margin: 2vh 0 2vh 10vw;

}

.connect p {
    margin-left: 10vw;
}

span {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-family: cursive;
}

.list li a {
    text-decoration: none;
    color: var(--color);
}

.browseproject a {
    text-decoration: none;
    cursor: pointer;
}

.browseblog a {
    text-decoration: none;
    cursor: pointer;
}

.blogtitle,
.bdescription,
.pdescription,
.projecttitle {
    margin-left: 10vw;
}

.blogtitle,
.projecttitle {
    font-family: 'Anton', sans-serif;
    margin-bottom: 1vh;
}

.blogcontainer,
.projectcontainer {
    margin: 10vh 0 5vh 10vw;
}

.projectname,
.blogname {
    font-family: 'Anton', sans-serif;
}

.projectdescription,
.blogdescription {
    margin: 3vh 0;
}

.seeprojectsource {
    margin-right: 2vw;
}

.seeprojectsource,
.seeprojectlive,
.readblog {
    border: none;
    background-color: var(--secondary-color);
    padding: 5px 8px;
    box-shadow: 2px 2px 6px rgba(20, 20, 20, 0.63);
    border-radius: 5px;
    transition: background-color .5s ease-in-out;
}

.seeprojectsource:hover,
.seeprojectlive:hover,
.readblog:hover {
    background-color: var(--pseudo-color);
}

small {
    opacity: .6;
}


@media screen and (min-width: 768px) {
    .navigationlinks {
        padding: 4vh 4vw;
    }

    header .imagecontainer {
        width: 40vw;
    }

    .list a {
        font-size: 1.5rem;
        margin-left: 1.5vw;
    }

    .footerlink .link img {
        width: 5vw;
        height: 4vh;
        margin-right: 1vw;
    }

    .aboutme {
        font-size: 3.5rem;
    }

    .one,
    .two,
    .three,
    .projecttitle {
        font-size: 1.3rem;
        margin-top: 15vh;
    }
    
    .navigationlinks {
        position: relative;
    }
}